{% extends 'MyResume/base.html' %}
{% load static %}

<!-- CSS Block  -->
{% block css%}
{% endblock css%}


<!-- JS Block -->
{% block js %}
{% endblock js %}

<!-- tile block -->
{% block title %}
<title>Contact Page</title>
{% endblock title %}



{% block body %}

<div class="container">

    <!-- Header -->

    <div class="container py-3 bg-secondary text-center rounded-3 shadow">
        <h1 class="display-5 text-light">Contact Details</h1>
    </div>

    <!-- Body -->

    <div class="container my-5 shadow py-3 rounded-3">
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}

            <div class="my-3">
                <label for="">Enter Your Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>


            <div class="my-3">
                <label for=""> Enter Your Email</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>

            <div class="my-3">
                <label for="">Feedback</label>
                <textarea name="text" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>

            <div class="container p-0">
                <button type="submit" class="btn btn-primary btn btn-md">Contact Me</button>
            </div>
        </form>

    </div>
</div>

{% endblock body %}
